.hard {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    padding: 10px 0;
    /* margin-top: 25px; */
    background-image: url(https://wallpaperset.com/w/full/2/9/3/238900.jpg);
}

.linkMain {
    /* background-color: rgb(56, 236, 11);a */
    padding: 8px 25px;
    margin-right: 20px;
    border-radius: 5px;
    color: rgb(36, 25, 25);
    font-size: 22px;
    font-weight: 500;
}

.linkMain:hover {
    color: black;
    background-color: aqua;
}

.width {
    width: 100%;
    height: 10px;
    background: #000;
}

.degree {
    overflow: hidden;
    max-width: 500px;
    height: 10px;
    border-radius: 5px;
    background: #2ee738;
    background: -webkit-linear-gradient(270deg, #2ee738 0%, #68a25e 50%, #c15d66 100%);
    background: linear-gradient(270deg, #2ee738 0%, #68a25e 50%, #c15d66 100%);
}

.levelInfo {
    width: 50%;
    margin: 0 20px;
    margin-left: auto;
}

.hard__inner_wrapper {
    margin: 10px 0 20px;
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 280px));
    grid-template-rows: repeat(4, minmax(100px, 120px));
}

@media only screen and (max-width:768px) {
    .hard__inner_wrapper {
        grid-template-columns: repeat(4, minmax(50px, 120px));
        grid-template-rows: repeat(4, minmax(50px, 100px));
    }
}

.field {
    margin: 30px 0 20px;
    /* transform: rotate(90deg); */
    position: relative;
    text-align: center;
    /* border: 0.5px solid silver; */
    height: 150px;
}

.word {
    border: none;
    background-color: #fff;
}

.hard__inner_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}


/* btn hover */

.btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
    padding: 8px 16px;
    border-radius: 8px;
    overflow: hidden;
    font-size: 22px;
    font-weight: 700;
    color: rgb(39, 33, 33);
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #fff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}