.register {
    background-image: url(../images/images/register_bg.jpg);
    background-size: cover;
    backdrop-filter: blur(50%);
    background-blend-mode: difference;
}

.register__inner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.register__form {
    position: relative;
    top: calc(50% - 90px);
    max-width: 360px;
    margin: 0 auto;
}

.form__username {
    max-width: 360px;
    margin: 0 auto;
}

.form__username::placeholder {
    color: #333333af;
}

.form__username:focus {
    border: none !important;
    border: 1px solid #fff !important;
}