*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__inner {
    background: #b5b5d8;
    background: -webkit-linear-gradient(264deg, #b5b5d8 0%, #4b2a5e 100%);
    background: linear-gradient(264deg, #b5b5d8 0%, #4b2a5e 100%);
    height: 70px;
}

.degree__list {
    margin-top: 100px;
}

.header__list_item--link {
    color: rgb(53, 35, 35);
}

.header__list_item--link::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: #ffff;
}

.header__list_item--link:hover::after {
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    transform: rotate(360deg);
    transition: 0.5s ease;
    background-color: #ffff;
}

.header__list_item--link:hover {
    color: white;
}

.degree__list_item--link {
    background-color: rgba(175, 175, 8, 0.932);
    animation: col;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    animation-name: col;
}

@keyframes col {
    0% {
        margin: 0;
        padding: 0;
    }
    15% {
        left: 15px;
    }
}

.degree__list_item--link:hover {
    background-color: rgb(165, 65, 223);
}

s .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.btn:hover,
.btn:focus {
    color: black;
    outline: 0.8;
    /* background: rgba(231, 214, 198, 0.133); */
    box-shadow: 0 0 1 solid black;
}

.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    background: #000;
}

.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}